flynt-component[name='SliderTimeline'] {
    --color-text: $av-dark-blue;
    --slider-pagination-height: 30px;
    --slider-button-size: 40px;
    --timeline-slider-height: 750px;
    //block-size: var(--slider-height);
    block-size: var(--timeline-slider-height);
    display: flex;
    inline-size: 100%;
    overflow: hidden;
  
    // @media (min-width: $breakpoint-tablet) {
    //   --slider-height: 540px;
    // }
  
    .slider:not(.swiper-initialized) {
      .swiper-wrapper .swiper-slide:not(:first-child) {
        display: none;
      }
    }

    .swiper-wrapper {
      z-index: 99;
    }
  
    .slider {
      // background-color: $av-light-blue;
    }

    .slider {
      display: flex;
      inline-size: 100%;
  
      &-button {
        align-items: center;
        block-size: var(--slider-button-size);
        color: var(--color-background);
        cursor: pointer;
        display: none;
        inline-size: var(--slider-button-size);
        inset-block-start: 50%;
        justify-content: center;
        position: absolute;
        transform: translateY(-50%);
        z-index: 99;
  
        &::before {
          background-color: var(--color-accent);
          block-size: 100%;
          border-radius: 50%;
          content: '';
          inline-size: 100%;
          inset-block-start: 0;
          inset-inline-start: 0;
          opacity: 1;
          position: absolute;
          transition: opacity 0.2s ease;
          will-change: opacity;
        }
  
        @media (min-width: $breakpoint-tablet) {
          display: flex;
        }
  
        &.swiper-button-disabled {
          opacity: 0.5;
          pointer-events: none;
        }
  
        &--prev {
          inset-inline-start: 10px;
  
          &::after {
            block-size: 0.75em;
            border-block-start: 2px solid currentColor;
            border-inline-start: 2px solid currentColor;
            content: '';
            inline-size: 0.75em;
            margin-inline-start: calc(0.25em + 2px);
            transform: rotate(-45deg);
          }
  
          @media (min-width: $breakpoint-desktop) {
            inset-inline-start: var(--slider-button-size);
          }
        }
  
        &--next {
          inset-inline-end: 10px;
  
          &::after {
            block-size: 0.75em;
            border-block-start: 2px solid currentColor;
            border-inline-end: 2px solid currentColor;
            content: '';
            inline-size: 0.75em;
            margin-inline-end: calc(0.25em - 2px);
            transform: rotate(45deg);
          }
  
          @media (min-width: $breakpoint-desktop) {
            inset-inline-end: var(--slider-button-size);
          }
        }
      }
  
      &-pagination {
        align-items: center;
        block-size: var(--slider-pagination-height);
        display: flex;
        inset-block-end: 0;
        inset-inline: 0;
        justify-content: center;
        margin-block-start: 0;
        position: absolute;
        text-align: center;
        z-index: 1;
  
        @media (min-width: $breakpoint-tablet) {
          display: none;
        }
  
        .swiper-pagination-bullet {
          background-color: var(--color-background);
          block-size: 6px;
          inline-size: 6px;
          opacity: 0.2;
          transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.3s ease;
          will-change: width, opacity;
  
          &-active {
            border-radius: 4px;
            inline-size: 20px;
            opacity: 1;
          }
  
          &:hover,
          &:focus {
            opacity: 1;
          }
        }
      }

      .swiper-slide {
        background-color: transparent;
        display: flex;
        flex-direction: row;
      }
    }

  
    .container {
      display: flex;
      flex-direction: column;
      margin-inline: 0;
      max-block-size: var(--timeline-slider-height);
      padding-inline: 0;
  
      &::before {
        block-size: auto;
        content: '';
        inline-size: 100%;
        inset-block-start: 0;
        inset-inline-start: 0;
        position: absolute;
      }
    }

    .slide-0 {
      inset-inline-start: 80px;
    }

    .decade-container {
      max-inline-size: 450px;
      min-inline-size: 400px;
      position: relative;
    }

    .diamond {
      block-size: 0;
      border: 10px solid transparent;
      border-block-end-color: #decc62;
      inline-size: 0;
      inset-block-start: 2px;
      inset-inline-start: 38%;
      position: relative;
    }

    .diamond::after {
      block-size: 0;
      border: 10px solid transparent;
      border-block-start-color: #decc62;
      content: '';
      inline-size: 0;
      inset-block-start: 10px;
      inset-inline-start: -10px;
      position: absolute;
    }
  
    .content {
      color: var(--color-text);
      inset-block-start: 60px;
      //padding: var(--container-spacing) var(--container-spacing) calc(var(--container-spacing) + var(--slider-pagination-height));
      padding: 0 10px;
      position: relative;
  
      @media (min-width: $breakpoint-tablet) {
        //padding: var(--container-spacing) calc(var(--container-spacing) + var(--slider-button-size)) calc(var(--container-spacing) + 30px);
      }
  
      @media (min-width: $breakpoint-tablet-horizontal) {
        //padding-block-end: var(--container-spacing);
        padding-block-end: 0;
      }
    }

    .decadeImg {
      max-inline-size: 370px;
    }

    .decadeDetails {
      padding-block-start: 60px;
    }

    .horizontalLine {
      block-size: 2px;
      color: #333;
      inline-size: 100%;
      inset-block-start: 50%;
      position: absolute;
      z-index: 9;
    }

    li {
      list-style: none;
    }

    @import 'Partials/picture';
  }
  