.picture {
    background-color: $av-light-blue;
    block-size: 100%;
    inline-size: auto;
    //inset: 0;
    //position: absolute;
  
    &-image {
      block-size: 100%;
      inline-size: auto;
      //object-fit: cover;
    }
  }
  