.picture-container {
  inset-inline-start: -40px;
  position: relative;

  @media (min-width: $breakpoint-tablet-horizontal) {
    inset-inline-start: -100px;
  }
}

.picture {
    background-color: transparent;
    block-size: auto;
    inline-size: 100%;
    max-inline-size: 768px;
    //inset: 0;
    //position: absolute;
  
    &-image {
      block-size: 100%;
      inline-size: auto;
      //object-fit: cover;
    }
  }
  