flynt-component[name='HeroImageCta'] {
  @import 'mixins';
  @include align-image('mobile');
  align-items: center;
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-tablet) {
    @include align-image('desktop');
  }

  .container {
    align-items: center;
    display: flex;
    inline-size: 100%;
    min-block-size: 420px;
    overflow: hidden;
    padding-inline: 0;
    position: relative;

    @media (min-width: $breakpoint-tablet) {
      min-block-size: 640px;
    }

    &[data-full-width='true'] {
      margin-inline: 0;
    }
  }

  .picture {
    block-size: 100%;
    inline-size: 100%;
    inset: 0;
    position: absolute;

    &-image {
      block-size: 100%;
      inline-size: 100%;
      object-fit: cover;
    }
  }

  .content {
    padding: var(--component-spacing) var(--container-spacing);
    position: relative;
  }
}
