<flynt-component name="BlockClipPath">
    <div class="clip-path-container"></div>
    <div class="container">
        <div class="tag-line-container">
            <h2 class="clipPath">{{heading}}</h2>
             {{ contentHtml|e('wp_kses_post') }}
            {% if ctaLabel %}
            <div class="cta-container" style="padding-bottom:60px;">
                <a href="{{ctaURL}}" class="button">{{ctaLabel}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</flynt-component>
