<flynt-component name="BlockVideoOembed" load:on="visible" class="componentSpacingNone" {{ options.theme ? 'data-theme="' ~ options.theme ~ '"' }} {% if fn('is_front_page') %} style="" {% endif %}>
{% if fn('is_front_page') %}
  <div class="containerFull frontPage" style="max-height:1000px !important;overflow-y:hidden;z-index:0;">
    <div class="video-container">
      <div style="padding:56.25% 0 0 0;position:relative;">
        <iframe src="https://player.vimeo.com/video/841048889?background=1&autoplay=1&loop=1&muted=1&controls=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Antlers homepage video">
        </iframe>
      </div>
    </div>
    <div class="clip-path-container"></div>
    <div class="tag-line-container">
      <img src="{{careFreeSpirit|join(', ')}}" width="700" height="185" style="width:700px;" alt="Care Free Spirit graphic">
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
  </div>
  {% else %}
  <div class="containerFull" style="max-height:1000px !important;overflow-y:hidden;z-index:0;">
    <div class="video" data-size="{{ options.size }}" data-align="center">
      {% include 'Partials/_figure.twig' ignore missing with {image: posterImage} only %}
      <div data-ref="videoPlayer" class="video-player">
        {{ oembed }}
        <div class="video-loader"></div>
        <button data-ref="playButton" class="video-playButton" type="button" aria-label="Play Video"></button>
      </div>
    </div>
  </div>
  {% endif %}
</flynt-component>
