flynt-component[name='GridImageText'] {
  .grid {
    --grid-columns: 1;
    display: grid;
    gap: var(--column-gap);
    grid-template-columns: repeat(var(--grid-columns), minmax(300px, 1fr));
    list-style: none;
    padding: 0;

    &[data-max-columns='1'] {
      @media (min-width: $breakpoint-tablet) {
        margin-inline: auto;
        max-inline-size: calc(100% / 2 - var(--flow-space));
      }
    }

    &[data-max-columns='2'],
    &[data-max-columns='3'],
    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet) {
        --grid-columns: 2;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        max-inline-size: max-content;
      }
    }

    &[data-max-columns='3'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 3;
      }
    }

    &[data-max-columns='4'] {
      @media (min-width: $breakpoint-tablet-horizontal) {
        --grid-columns: 4;
      }
    }

    &[data-card='true']{
      --column-gap: var(--flow-space);

      .content {
        margin-block-start: 0;
      }
    }

    .amenities {
      background-color: $av-light-blue;
      font-size: 1.75rem;
      margin-block-start: -30px;
      padding-block: 10px;
      padding-inline: 30px;
      position: relative;
      text-align: center;
      z-index: 99;
    }

    .amenity::after {
      background-color: $av-gold; /* Set color for the bullet */
      block-size: 30px; /* Height of the bullet */
      clip-path: polygon(33.65% 48.17%, 66.3% 61.77%, 1% 99.86%, 1% 34.56%);
      content: " ";
      inline-size: 25px;
      margin-block-start: 4px;
      margin-inline-start: 10px;
      position: absolute; /* Positioning the bullet as absolute. It will relative to the li item */  
      //transform: rotate(45deg); /* Rotating the rectangle */
    }
  }

  a {
    color: $av-dark-blue;
    text-decoration: none;
  }

  .item {
    ul {
      list-style-position: outside;
      list-style-type: initial;
      padding-inline-start: 0;

      li {
        margin-inline-start: 1em;
      }
    }

    .figure-image-svg {
      aspect-ratio: 3 / 2;
    }
  }
}
