{% extends 'templates/_document.twig' %}

{% block content %}
{# <h5 style="margin-top:160px;">Post = {{post.meta.pageComponents|join(', ')}}</h5> #}
  {% set componentsArray = post.meta.pageComponents|join(', ')%}
  
    {% if 'heroImageText' or 'heroSlider' not in componentsArray %}
      {% if not function('is_front_page') %}
        <img src="/wp-content/uploads/2023/09/hero-photo.jpg" style="max-height:600px;">
      {% endif %}
    {% endif %}
  
  {# {% if 'blockClipPath' not in componentsArray %}
    {{ renderComponent('blockClipPath') }}
  {% endif %} #}
  {% for component in post.meta('pageComponents') %}
    {{ renderComponent(component) }}
  {% endfor %}
{% endblock %}
