flynt-component[name='GridPostsArchive'] {
  li {
    max-block-size: 600px;
  }
  
  .posts {
    --grid-columns: 1;
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .posts-empty {
    text-align: center;
  }

  .post {
    inline-size: var(--grid-item-width);
    max-inline-size: var(--grid-item-max-width);

    .link {
      block-size: 100%;
      color: currentColor;
      display: flex;
      flex-direction: column;
      font-weight: initial;
      text-decoration: none;
    }

    .hex-figure {
      clip-path: polygon(50% 0%, 100% 18%, 100% 83%, 50% 100%, 0 83%, 0 18%);
      //filter: grayscale(0.20);
      filter: brightness(50%);
    }

    .hex-figure-image-svg {
      aspect-ratio: 2 / 3;
    }

    .content {
      align-items: center;
      block-size: 330px;
      color: var(--color-background);
      display: flex;
      flex-direction: column;
      inline-size: 100%;
      inset-block-start: -85%;
      inset-inline-start: 0;
      justify-content: center;
      padding: var(--container-spacing);
      position: relative;

      &-hex {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1.1em;
      }
    }
    
    .white {
      color: var(--color-background);
      margin-inline-start: 30px;
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-spacing) var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/pagination';
}
