flynt-component[name='GridPostsArchive'] {
  .picture {
    max-block-size: 350px;
    min-block-size: 300px;

    &-image {
      //aspect-ratio: 4 / 3;
      block-size: 100%;
      inline-size: 100%;
      max-block-size: 450px;
      object-fit: cover;

      @media (min-width: $breakpoint-tablet) {
        aspect-ratio: 32 / 10;
      }
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      max-block-size: 450px;
    }
  }

  .clip-path-container {
    background-color: $av-light-blue;
    // block-size: 300px;
    block-size: 100px;
    clip-path: polygon(0 76%, 0% 100%, 100% 100%);
    // clip-path: polygon(0 73%, 0% 100%, 100% 100%);
    // clip-path: polygon(0 0%, 0% 100%, 100% 100%);
    inline-size: 100%;
    // inset-block-start: -299px;
    inset-block-start: -99px;
    position: relative;
    z-index: 9;

    @media (min-width: $breakpoint-tablet) {
      clip-path: polygon(0 76%, 0% 100%, 100% 100%);
    }

    @media (min-width: $breakpoint-desktop) {
     clip-path: polygon(0 0, 0% 100%, 100% 100%);
    }
  }

  .tag-line-container {
    //background-color: $av-light-blue;
    // block-size: 250px;
    block-size: 0;
    color: $av-dark-blue;
    // clip-path: polygon(0 73%, 0% 100%, 100% 100%);
    inline-size: 100%;
    inset-block-end: 0;
    //margin-inline-start: 60px;
    //max-inline-size: 1200px;
    position: relative;
    z-index: 99;

    .clipPath {
      color: $av-dark-blue;

      @media (max-width: $breakpoint-desktop) {
        max-inline-size: 90%;
       }
    }
  }

  li {
    max-block-size: 450px;
  }
  
  .posts {
    --grid-columns: 1;
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 3;
    }
  }

  .staff {
    --grid-columns: 1;
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: $breakpoint-tablet) {
      --grid-columns: 2;
    }

    @media (min-width: $breakpoint-tablet-horizontal) {
      --grid-columns: 4;
    }
  }

  .posts-empty {
    text-align: center;
  }

  .post {
    inline-size: var(--grid-item-width);
    max-inline-size: var(--grid-item-max-width);

    .hex-figure {
      clip-path: polygon(50% 0%, 100% 18%, 100% 83%, 50% 100%, 0 83%, 0 18%);
      //filter: grayscale(0.20);
      filter: brightness(50%);
      max-block-size: 450px;
    }

    .figure-image {
      max-block-size: 450px;
    }

    .hex-figure-image-svg {
      aspect-ratio: 2 / 3;
    }

    .content {
      align-items: center;
      block-size: 330px;
      color: var(--color-background);
      display: flex;
      flex-direction: column;
      inline-size: 100%;
      inset-block-start: -360px;
      inset-inline-start: 0;
      justify-content: center;
      padding: var(--container-spacing);
      position: relative;

      &-hex {
        display: none;
        font-size: 1rem;
        font-weight: 400;
        inline-size: 98%;
        line-height: 1.2em;
        text-align: center;
      }
    }

    .post-title {
      margin-block-end: -10px;
      margin-block-start: -10px;
      text-align: center;
    }

    .link {
      block-size: 100%;
      color: currentColor;
      font-weight: initial;
      inline-size: 100%;
      text-decoration: none;
    }

    .white {
      color: var(--color-background);
      inline-size: 154px;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-spacing) var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }

  .staff-item {
    inline-size: var(--grid-item-width);
    max-block-size: 350px;
    max-inline-size: var(--grid-item-max-width);

    @media (min-width: $breakpoint-tablet-horizontal) {
      max-block-size: 244px;
      min-block-size: 230px;
    }

    .hex-figure {
      clip-path: polygon(50% 0%, 100% 18%, 100% 83%, 50% 100%, 0 83%, 0 18%);
      //filter: grayscale(0.20);
      filter: brightness(50%);
      max-block-size: 350px;
    }

    .figure-image {
      max-block-size: 350px;
    }

    .hex-figure-image-svg {
      aspect-ratio: 2 / 3;
    }

    .content {
      align-items: center;
      block-size: 230px;
      color: var(--color-background);
      display: flex;
      flex-direction: column;
      inline-size: 100%;
      inset-block-start: -280px;
      inset-inline-start: 0;
      justify-content: center;
      padding: var(--container-spacing);
      position: relative;

      &-hex {
        display: none;
        font-size: 1rem;
        font-weight: 400;
        inline-size: 96%;
        line-height: 1.2em;
        text-align: center;
      }

      @media (min-width: $breakpoint-tablet-horizontal) {
        inset-block-start: -240px;
      }
    }

    .post-title {
      margin-block-end: -10px;
      margin-block-start: -10px;
      text-align: center;
    }

    .link {
      block-size: 100%;
      color: currentColor;
      font-weight: initial;
      inline-size: 100%;
      text-decoration: none;
    }
    
    .white {
      color: var(--color-background);
      inline-size: 154px;
      margin-inline-end: auto;
      margin-inline-start: auto;
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-spacing) var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }

  @import 'Partials/filter';
  @import 'Partials/pagination';
}
