flynt-component[name='BlockImageText'] {
  @media (min-width: $breakpoint-tablet-horizontal) {
    .container {
      align-items: center;
      display: flex;
      gap: var(--column-gap);
      justify-content: space-around;
      margin-inline: auto;
      // max-inline-size: 100%;
      max-inline-size: 1800px;

      > * {
        flex-basis: 50%;
        margin-block-start: 0;
      }

      &[data-image-position='left'] {
        flex-direction: row;
      }

      &[data-image-position='right'] {
        flex-direction: row-reverse;
      }
    }
  }

  @media (max-width: $breakpoint-tablet) {
    .mobileOrderReversed {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
    
    .bitContent {
      inline-size: 100%;
      padding-block-end: 30px;
      padding-block-start: 30px;

      h2 {
        font-size: 2rem;
      }
    }

    .figure {
      inline-size: 100%;
    }
  }
}
