flynt-component[name='NavigationFooterColumns'] {
  + flynt-component[name='NavigationFooter'] .container {
    background-color: $av-dark-blue;
    padding-block-start: 0;
  }

  .containerTwo {
    background-color: $av-dark-blue;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
  }

  @import 'Partials/menu';
}
