flynt-component[name='NavigationFooterColumns'] {
  + flynt-component[name='NavigationFooter'] .container {
    background-color: $av-dark-blue;
    padding-block-start: 0;
  }

  .containerTwo {
    background-color: $av-dark-blue;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around;
    padding: 10px;
  }

  @media (max-width: $breakpoint-tablet) {
    .col-1 {
      padding-block-end: 60px;
    }
    
    .col-2 {
      padding-block-end: 30px;
    }

    .right-menu {
      inline-size: 90%;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    .right-menu {
      columns: 2;
    }
  }

  a {
    color: #fff;
  }

  @import 'Partials/menu';
}
