flynt-component[name='GridPostsLatest'] {
  .grid {
    --grid-item-width: calc((var(--content-max-width-full) - 2 * var(--flow-space)) / 3);
    display: grid;
    gap: var(--flow-space);
    grid-template-columns: repeat(auto-fit, min(var(--grid-item-width), 100%));
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .post {
    .link {
      block-size: 100%;
      color: currentColor;
      display: flex;
      flex-direction: column;
      font-weight: initial;
      text-decoration: none;
    }

    .figure {
      margin: 0;
    }

    .hex-figure {
      clip-path: polygon(50% 0%, 100% 18%, 100% 83%, 50% 100%, 0 83%, 0 18%);
      //filter: grayscale(0.20);
      filter: brightness(50%);
    }

    .hex-figure-image-svg {
      aspect-ratio: 2 / 3;
    }

    .content {
      color: var(--color-text);
      flex-grow: 1;
      margin-block-start: 0;

      &-hex {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 1em;
      }
    }
    
    .white {
      color: var(--color-background);
      margin-inline-start: 30px;
    }

    .footer {
      align-items: center;
      display: flex;
      inline-size: 100%;
      justify-content: space-between;
      padding: 0 var(--box-spacing) var(--box-spacing);
      position: relative;

      .readingTime {
        color: var(--color-text-muted);
      }
    }
  }

  .units {
    columns: 3;

    li {
      list-style-type: none;

        &::after {
        background-color: $av-dark-blue; /* Set color for the bullet */
        block-size: 24px; /* Height of the bullet */
        clip-path: polygon(33.65% 48.17%, 66.3% 61.77%, 1% 99.86%, 1% 34.56%);
        content: " ";
        inline-size: 15px;
        margin-block-start: 2px;
        margin-inline-start: 10px;
        position: absolute; /* Positioning the bullet as absolute. It will relative to the li item */  
      }
    }

    a {
      color: $av-dark-blue;
      text-decoration: none;
    }
  }
}
